<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rules">The Rules</a></li>
        <li><a href="/playcomputer/paper">Play against computer</a></li>
        <li><a href="/rockpaperscissors/paper/scissors">Play against another person</a></li>
        <li><a href="/playrandom">Watch a random match if you're desperate enough</a></li>
      </ul>
    </nav>
    <h1>Rock Paper Scissors</h1>
    <%= yield %>
    <img height=10%, width=10%, src="https://cdn.pixabay.com/photo/2017/02/01/10/46/avatar-2029577_1280.png" alt="scissors">
    <img height=10%, width=10%, src="https://www.stockvault.net/data/2012/03/26/130065/preview16.jpg" alt="paper">
    <img height=10%, width=10%, src="https://www.stockvault.net/data/2014/09/22/162466/preview16.jpg" alt="rock">
  </body>
</html>
