<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rules">The Rules</a></li>
        <li><a href="/playcomputer/paper">Play against computer</a></li>
        <li><a href="/rockpaperscissors/paper/scissors">Play against another person</a></li>
      </ul>
    </nav>
    <h1>Rock Paper Scissors</h1>
    <%= yield %>
    <img height=10%, width=10%, src="https://images-na.ssl-images-amazon.com/images/I/31L3uGvmTsL.jpg" alt="scissors">
    <img height=10%, width=10%, src="https://www.ikea.com/gb/en/images/products/fantastisk-paper-napkin-white__25795_pe099076_s4.jpg" alt="paper">
    <img height=10%, width=10%, src="https://i.redd.it/brxxveprs2e01.png" alt="rock">
  </body>
</html>
