
<p>Enter your choices here: localhost:4567/rockpaperscissors/YourChoice/YourOpponent'sChoice</p>
<p></p>
<h2>Player 1 chose <%= @player1 %></h2>
<h2>Player 2 chose <%= @player2 %></h2>
<p></p>

<h2>The result is:  <%= @rps_result %> </h2>
<p></p>
<h2>If you are Player 1 this means that: <%= @game_result %>!</h2>
