
<p>Enter your choices here: localhost:4567/rockpaperscissors/YourChoice/YourOpponent'sChoice</p>
<p></p>
<h2>Player 1 chose <%= @player1 %></h2>
<h2>Player 2 chose <%= @player2 %></h2>
<p></p>

<h1>The result is:  <%= @rps_result %> </h1>
