<h1>The rules</h1>
<p>Rock > Scissors</p>
<p>Scissors > Paper</p>
<p>Paper > Rock</p>
<p></p>
<p>Go to <a href="/rockpaperscissors/">/rockpaperscissors/</a> and enter your choice of rock, paper or scissor followed by a slash / and your opponent's choice</p>
<p></p>
<p>Go to <a href="/playcomputer/paper">/playcomputer/</a> and enter your choice of rock, paper or scissor and press enter. </p>
